Cold Email(With Gmail Node).json
{
  "name": "Cold Email(With Gmail Node)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        240
      ],
      "id": "222802d7-1217-4e99-8fa4-3306a3d3560e",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XwNPJsIW_eiD1bxFT_Jv8blokQo5mHQsYW2fef5VZsg",
          "mode": "list",
          "cachedResultName": "Lead-Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XwNPJsIW_eiD1bxFT_Jv8blokQo5mHQsYW2fef5VZsg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XwNPJsIW_eiD1bxFT_Jv8blokQo5mHQsYW2fef5VZsg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -592,
        240
      ],
      "id": "5594d4a3-e023-4d11-968b-24224feb6baf",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pgVMKiHsD7gPLXBk",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fdc40194-662b-402b-b731-6405ce91259e",
              "leftValue": "={{ $json[\"Send Status\"] }}",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -368,
        240
      ],
      "id": "f630316c-5e1e-4171-9782-e2d92bca19c4",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -144,
        224
      ],
      "id": "c75ec689-5032-48a1-9cc1-c0c4dd29ef81",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XwNPJsIW_eiD1bxFT_Jv8blokQo5mHQsYW2fef5VZsg",
          "mode": "list",
          "cachedResultName": "Lead-Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XwNPJsIW_eiD1bxFT_Jv8blokQo5mHQsYW2fef5VZsg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1570674042,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XwNPJsIW_eiD1bxFT_Jv8blokQo5mHQsYW2fef5VZsg/edit#gid=1570674042"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        80,
        48
      ],
      "id": "b7217c2b-2b63-4734-9df5-20e46558b3dc",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pgVMKiHsD7gPLXBk",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get templates from previous node\nconst templates = items.map(item => item.json);\n\n// Pick only templates that have the field \"Body \"\nconst valid = templates.filter(t => t && t[\"Body \"]);\n\nif (valid.length === 0) {\n  throw new Error(\"No templates found with a 'Body ' field\");\n}\n\n// Pick a random template\nconst template = valid[Math.floor(Math.random() * valid.length)];\n\n// Convert body to HTML\nconst bodyText = template[\"Body \"].toString();\nconst bodyHtml = bodyText.replace(/\\n/g, '<br>');\n\n// Return in n8n-compatible format\nreturn [\n  {\n    json: {\n      subject: template.Subject || \"\",\n      body: bodyHtml\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        48
      ],
      "id": "57c22fa2-cdb0-4ea0-8b3e-c2bbee39bda2",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        528,
        128
      ],
      "id": "2b076356-cc67-46f2-9d30-2588cc8b311c",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6a6ba02-422b-4e7c-a73e-03901cc2db0c",
              "name": "body",
              "value": "={{ $json.body.replace(\"[name]\", $json[\"Name\"] && $json[\"Name\"].trim() !== '' ? $json[\"Name\"].trim() : \"there\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        128
      ],
      "id": "3987e8ac-2adb-4f42-999a-15eee6c7b81e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Email\"] }}\n",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false,
          "senderName": "rajexh",
          "replyToSenderOnly": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        208
      ],
      "id": "4bb6a0fd-9449-4453-b18c-b29c4a64ab9d",
      "name": "Gmail",
      "webhookId": "3fbf6bf1-efca-44a5-8ed0-8e0fb1d4143f",
      "credentials": {
        "gmailOAuth2": {
          "id": "JXkkOr9Xycm5qMfR",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1184,
        64
      ],
      "id": "5fc1a3ad-bd23-41bb-bc97-c614a5c86260",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1XwNPJsIW_eiD1bxFT_Jv8blokQo5mHQsYW2fef5VZsg",
          "mode": "list",
          "cachedResultName": "Lead-Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XwNPJsIW_eiD1bxFT_Jv8blokQo5mHQsYW2fef5VZsg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XwNPJsIW_eiD1bxFT_Jv8blokQo5mHQsYW2fef5VZsg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Send Status": "={{ $json.labelIds.includes(\"SENT\") ? \"SENT\" : \"UNSENT\" }}\n",
            "Email": "={{ $json.Email }}",
            "Time": "={{ new Date().toLocaleTimeString(\"en-GB\", { timeZone: \"Asia/Kolkata\", hour12: false }) }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Send Status",
              "displayName": "Send Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1408,
        64
      ],
      "id": "9b933db4-34f8-4e55-9de9-2528810bebbe",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pgVMKiHsD7gPLXBk",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1184,
        320
      ],
      "id": "7862a94e-bf48-45d9-b5dc-731944973800",
      "name": "Wait",
      "webhookId": "59d0e464-9eef-4147-9d07-e283193ed822"
    },
    {
      "parameters": {
        "content": "   ## Get Leads Data From Google Sheet",
        "height": 320,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        128
      ],
      "typeVersion": 1,
      "id": "35e788cd-0306-47de-9a25-983352e1b46a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Get Email Templates From Google Sheet\n",
        "height": 300,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        -80
      ],
      "typeVersion": 1,
      "id": "6090bf78-d7da-46e0-b384-603e1484e30b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Log The Status",
        "height": 280,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        -16
      ],
      "typeVersion": 1,
      "id": "aecd1836-4e97-4dfb-bd57-7c1fbeb9b488",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "61294db6-cfa4-4612-aae7-d4a50bcba3ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef897556cba56b7749309500a68e7d5f5e6db94ece20a745e956d2bc9f08d032"
  },
  "id": "4AaSRq9bUhwD5Xhf",
  "tags": []
}